.searchWrapper {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
    align-items: center;

}

.input {
    padding: 8px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    outline: none;
    width: 400px;
    background-color: transparent;
}

.input::placeholder {
    color: rgb(0, 140, 255)
}

.icon {
    position: absolute;
    left: 360px;
    top: 55px;
}

.searchText {
    margin-bottom: 5px;
    font-weight: 500;
}