.nav {
    display: flex;
    gap: 20px;
    font-weight: 500;
    color: aquamarine;
    justify-content: space-between;
}

.link {
    color: black;
    display: flex;
    text-decoration: none;
    padding: 2px 15px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.active {
    color: rgb(23, 215, 244);
    font-weight: bold;
    border-top: 3px solid white;
    border-left: 3px solid white;

}