 /* .homePage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(43, 43, 48, 0.2)
    ),
    url("../img/girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}  */