:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;

  /* color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  width: 100%;
  margin: 0 auto;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
  padding: 0;
  background-image: url('./img/woman.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  /* border-radius: 8px; */

  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid rgb(8, 8, 8);
  border-left: 2px solid rgb(8, 8, 8);
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button:hover,
button:focus {
  /* background-color: grey; */
  color: rgb(13, 215, 247);
}